@import url("../css/reset.css");
@import url("../css/variables.css");


/*Propiedad efecto cortina al repetir cuestionario e ir al inicio*/
html{
  scroll-behavior: smooth;
}

/*Propiedades a body, tipo de letra y background's*/
body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgb(209,225,241);
  background-position: 50% 50%;
}

/*Estilos al header de la página*/
header {
  height: 250px;
  background-image: url(../images/lapices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}

    /* ESTILOS A PANEL DE INSTRUCCIONES  */
/*Panel de instrucciones previas a comenzar el cuestionario*/
.instrucciones{
  margin: 100px auto;
  width: 40%;
  background-color: rgba(41, 50, 65, 0.595);
}

/*Titulo de panel de instrucciones*/
.instrucciones h1{
  text-align: center;
  font-size: 2.5em;
  font-weight: bolder;
  margin-top: 20px;
  padding: 20px;
  color: white;
  border-bottom: 4px solid white;
}

/*Propiedades flex a la lista*/
 ul{ 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*Propiedades flex al contenido de cada elemento de la lista*/
li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  font-size: 1.3em;
  color: white;
  line-height: 25px;
}


/*Tamaño para las imagenes dentro de los div*/
li img{
  height: 50px;
}


/*Propiedades al elemento span de la lista. (Unidades de preguntas, nota...etc)*/
li span{
  color: red;
  font-weight: bolder;
}

/*Propiedades a los div includios en los elemento li. (Este div incluye una imagen y un texto)*/
.ins{
  display: flex;
  align-items:center;
  width: 300px;
  gap:10px;
}

/*Propiedades flex diferentes para los iconos y texto de insignia segun resultado. (burrito, copa y Eintein) */
.logos-puntua .ins{
  margin-top:10px;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

/*Tamaño de imagen para los logos insignia de premio*/
.logos-puntua img{
  height: 100px;
}


/*Representación de cuadrado verde y rojo en las instrucciones del cuestionario*/
.correcion-verde{
  height: 30px;
  width: 60px;
  background-color: green;
}

.correcion-rojo{
  height: 30px;
  width: 60px;
  background-color: red;
}

      /* ESTILOS A CUESTIONARIO  */



/*Propiedades al nav*/
.nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: var(--color-principal);
  padding: 5px 0;
}

nav i{
  font-size: 40px;
  color:white;
  position: relative;
  margin-right: 50px;
}

.nav a{
  width: 50px;
}

/*Propiedades a cada span del nav. Display flex para centrar vertical y horizontalmente el texto*/
nav span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  color: white;
  font-size: 25px;
  height: 100%;
  background-color: var(--color-principal);
  border-radius: 20px;
  margin-right: 10px;
}

nav span:hover {
  /*Para que funcione hover despues de aplicar estilo dinamicamente al repetir cuestionario*/
  background-color: var(--color-resaltar) !important;
  transition: 0.3s;
  cursor: pointer;
}

/*Estilos al contenedor que engloba todo el cuestionario*/
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  background-color: var(--color-principal);
  width: 70%;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/*Estilos al titulo de la categoria.*/
.header-article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*Separa la imagen del texto*/
  gap: 40px;
  padding-bottom: 20px;
  border-bottom: 8px solid white;
  margin-bottom: 30px;
}

/*El icono del título de la categoría no queda totalmente centrado aun aplicandole flex y align-items, por lo que asignamos una posicion relativa y movemos 10px el icono hacia abajo.*/
.header-article img {
  position: relative;
  top: 10px;
}

/*Estilos al h1 del header - article*/
.header-article h1 {
  font-size: 50px;
  padding-top: 30px;
  color: white;
  font-weight: bolder;
}


/*Estilos a cada contendor de preguntas. Tendremos un total de 10 por cada cateogira de cuestionario*/
.pregunta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 70%;
  background-color: rgb(234, 238, 236);
  border-radius: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/*Propiedades al titulo de cada pregunta. En este contenedor estará incluido un span(Numero de pregunta), un h3(texto) y una imagen(Simple o multiple) */
.pregunta-titulo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  line-height: 30px;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  /*Background al cotenedor de la pregunta*/
  background-color: rgba(48, 65, 100, 0.458);
  /*Damos bordes superiores solamente*/
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  /*Subrayado*/
  border-bottom: 5px solid var(--color-principal);
}

/*Propiedades al número de pregunta*/
.pregunta-titulo span {
  margin-left: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bolder;
  color: white;
  background-color:var(--color-principal);
  padding: 5px;
  border-radius: 8px;
}

/*Estilos al título de la pregunta*/
.pregunta-titulo h3 {
  text-align: center;
  margin-top: 8px;
  padding-bottom: 10px;
  font-size: 1.6em;
  font-weight: bolder;
  width: 90%;
}

/*Estilos a la imagen que indica si una respuesta es simple o multiple*/
.pregunta-titulo img{
  height: 50px;
  width: 50px;
  margin: 10px 0;
}

/*Contendor de cada una de las respuestas. En ella irá el input, y un div, en donde ira el label y la imagen de*/
.respuesta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*Contenedor donde irá el label y la imagen de correccion*/
.divlabel{
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-bottom: 5px;
  border: 2px solid var(--color-principal);
  border-radius: 10px;
}


.respuesta label {
  line-height: 50px;
  padding-left: 50px;
  width: 100%;
  font-size: 1.4em;
}


/*Coloreado cuando pasas raton por las respuestas con transición*/
.respuesta .divlabel:hover {
  background-color: rgb(157, 191, 205);
  transition: 0.2s;
  border-radius: 10px;
}


/*Esconder los radios y checkbox de las preguntas*/
input[type="radio"], input[type="checkbox"] {
  display: none;
}

/*Div que contiene la respuesta y el icono, queda pintado una vez seleccionas el input*/
input[type="radio"]:checked + .divlabel,
input[type="checkbox"]:checked + .divlabel {
  background-color: rgb(157, 191, 205);
  border-radius: 10px;
}


/*Propiedades al botón de corregir*/
button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 15px 20px;
  /*Espacio entre el boton y el final de la página*/
  margin-bottom: 40px;
  font-size: 18px;
  border-radius: 20px;
  background-color: var(--color-resaltar);
  color: white;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/*Esta clase es la que deja escondido las ventanas de correccion. Cuando activamos la correccíon le desactivamos esta clase y las ventanas se muestran*/
.esconde {
  display: none;
}

/*Ventanas de resultados */
.resultados {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

/*Ventana de error de preguntas mínimas contestadas*/
.minimo{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

/*Div que hace de pantalla para no interactuar con el cuestionario.*/
.pantalla {
  width: 100%;
  height: 100%;
  /*Background de color con transparencia*/
  background-color: rgba(128, 128, 128, 0.523);
  /*Flex para centrar el div principal en donde irá la información*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Efecto degradado*/
  backdrop-filter: blur(8px);
  /*Opacidad 0 de comienzo, desde JS le damos opacidad 1 y le aplicamos una animación*/
  opacity: 0;
  animation-name: aparece;
  animation-fill-mode: both;
  animation-duration: 1s;
}

/*Propiedades de la animación*/
@keyframes aparece {
  from {opacity: 0;}
  to{opacity: 1;}
}


/*Div que contiene los div donde mostramos la información*/
.info {
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.869);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


/*Div que contiene la información*/
.infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  gap: 40px;
}

/*Tamaño y margenes de la imagen*/
.infor img{
  margin: 30px auto;
  width: 30%;
}

/*Estilos a la nota*/
.info .infor p span{
  font-size: 1.2em;
  color:rgb(136,86,86);
  font-weight: bolder;
}


@media (max-width: 1280px) {

  /*Instrucciones*/
  .instrucciones{
    width: 75%;
  }

  li{
    font-size: 1.2em;
  }

  li img{
    height: 40px;
  }

  .logos-puntua img{
    height: 70px;
  }


  /*Cuestionario*/
  .nav {
    height: 80px;
  }

  nav span {
    font-size: 20px;
  }

  article h1 {
    font-size: 25px;
  }

  .pregunta-titulo h3 {
    font-size: 15px;
  }

  article {
    width: 80%;
  }

  header {
    height: 150px;
  }

  .divlabel{
    padding:5px;
    width: 60%;
    line-height: 15px;
    margin-top: 10px;
  }

  .pregunta {
    width: 80%;
  }

  .header-article img {
    height: 60px;
  }

  
  /*Ventanas de correción y aviso minimo de respuestas contestadas*/
  .info {
    width: 50%;
  }

  .info  .infor p span{
    font-size: 1.2em;
  }

  .info  .infor p{
    font-size: 0.8em;
  }

  button{
    width: 180px;
  }


  @media (max-width: 850px) {
    article{
      width: 90%;
    }

    .pregunta{
      width: 85%;
    }

    .pregunta img{
      height: 30px;
      width: 30px;
    }

    .divlabel{
      width: 70%;
    }

    .divlabel img{
      height: 25px;
      width: 25px;
    }

    .nav{
      height: 60px;
      justify-content: space-around;
      padding: 0 20px;
    }

    .header-article{
      margin-bottom:5px;
    }

    .header-article h1{
      font-size: 1.5em;
    }

    .pregunta-titulo{
      margin-bottom:10px;
    }

    .pregunta-titulo h3{
      font-size: 0.8em;
    }

    .pregunta-titulo span{
      font-size: 1.3em;
    }

    .respuesta label{
      line-height: 25px;
      font-size: 0.8em;
    }

     /*Ventanas de correción y aviso minimo de respuestas contestadas*/

    .info {
      width: 70%;
    }

    .info  .infor p span{
      font-size: 1.2em;
    }
  }
}
