@import url("../css/reset.css");
@import url("../css/variables.css");


body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}

.inicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio h1{
  font-size: 3em;
  margin-bottom: 15px;
  color:var(--color-principal)
}


header {
  height: 250px;
  background-image: url(../images/lapices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
}

.nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: var(--color-principal);
  padding: 5px 0;
}

nav span {
  display: flex;
  width: 200px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-principal);
  border-radius: 20px;
}

nav span:hover {
  /*Para que funcione hover despues de aplicar estilo dinamicamente*/
  background-color: var(--color-resaltar) !important;
  transition: 0.3s;
  cursor: pointer;
}

.header-article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  padding-bottom: 20px;
  border-bottom: 8px solid var(--color-resaltar);
  margin-bottom: 30px;
}

.header-article img {
  position: relative;
  top: 10px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: var(--color-principal);
  width: 70%;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.header-article h1 {
  font-size: 50px;
  padding-top: 30px;
  color: white;
  font-weight: bolder;
}

.pregunta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 80%;
  background-color: rgb(234, 238, 236);
  border-radius: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  
}

.pregunta-titulo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  line-height: 30px;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
  background-color: rgba(48, 65, 100, 0.458);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom: 5px solid var(--color-principal);
}

.pregunta-titulo span {
  margin-left: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bolder;
  color: white;
  background-color:var(--color-principal);
  padding: 5px;
  border-radius: 8px;
}

.pregunta-titulo h3 {
  text-align: center;
  margin-top: 8px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight: bolder;
  justify-self: center;
  width: 90%;
}

.pregunta-titulo img{
  min-width: 5%;
  padding: 5px 0;
}

.respuesta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divlabel{
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-bottom: 5px;
  border: 2px solid var(--color-principal);
  border-radius: 10px;
}

.respuesta label {
  line-height: 50px;
  padding-left: 50px;
  width: 100%;
  font-size: 1.4em;
}

.divlabel img{
  min-width: 5%;
}


.respuesta .divlabel:hover {
  background-color: rgb(157, 191, 205);
  transition: 0.2s;
  border-radius: 10px;
}


input[type="radio"], input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked + .divlabel,
input[type="checkbox"]:checked + .divlabel {
  background-color: rgb(157, 191, 205);
  border-radius: 10px;
}


button{
  width: 150px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 18px;
  border-radius: 20px;
  background-color: var(--color-resaltar);
  color: white;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.esconde {
  display: none;
}

.resultados {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.minimo{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.pantalla {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.523);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
}

.info {
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.869);
  width: 50vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  font-size: 30px;
  margin-bottom: 30px;
}

.infor img{
  width: 60%;
}


.info  .infor p span{
  font-size: 1.2em;
  color:rgb(136,86,86);
  font-weight: bolder;
}


.botones {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}




@media (max-width: 1200px) {
  .nav {
    height: 80px;
  }

  nav span {
    font-size: 20px;
  }

  article h1 {
    font-size: 25px;
  }

  .pregunta-titulo h3 {
    font-size: 15px;
  }

  article {
    width: 80%;
  }

  header {
    height: 150px;
  }

  .divlabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    width: 60%;
    line-height: 15px;
    margin-top: 10px;
  }

  .pregunta {
    width: 80%;
  }

  .header-article img {
    height: 60px;
  }



  @media (max-width: 700px) {
    article{
      width: 95%;
    }

    .pregunta, .divlabel {
      width: 95%;
    }

    .pregunta-titulo{
      margin-bottom: 5px;
    }

    .respuesta{
      padding: 0;
    }

    .nav{
      height: 60px;
      justify-content: space-around;
      padding: 0 20px;
    }

    .header-article{
      margin-bottom: 5px;
    }
 
    .header-article h1{
      font-size: 1.5em;
    }

    .pregunta-titulo h3{
      font-size: 0.7em;
    }


    .pregunta-titulo span{
      font-size: 1.3em;
    }

    .respuesta label{
      line-height: 25px;
    }

    .info {
      width: 90%;
      height: 50%;
    }

    .info  .infor p span{
      font-size: 1.2em;
    }

    .info  .infor p{
      font-size: 0.7em;
    }
    

  
 
  }
}
